body {
  background: #002B41;
}

pre.inverted {
  color: #fff;
}

.feature pre {
  background: #002B41;
  padding: 1em;
  color: #fff;
  border-radius: 1em;
}

code {
  background: #acc4d0;
  color: #000;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

.ui.teal.segment h3.inverted {
  margin-top: 0.4em !important;
}
